$mainTextColor: green;
$basePadding: 0.25em;
$mainBackgroundColor: white;
$listElementBackgroundColor: goldenrod;
$enumElementColor: lightyellow;
$enumElementBorderColor: burlywood;
$enumElementSelectedBorderColor: black;
$enumElementSelectedBackgroundColor: burlywood;
$rangeBackgroundFocus: dimgray;

$z-topmost: 20;
$z-ntopmost: 15;

$header-background: white;
$shadow-color: gray;

$button-focus-background: chocolate;
$blur-radius: 5px;

$small: "(min-resolution: 120dpi), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (max-width: 600px)";

$phone: "(min-resolution: 100dpi), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)";

body {
    background-color: $mainBackgroundColor;
}

p {
    color: green;
}

label {
    display: block;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
    text-align: center;
    text-transform: uppercase;
}

.app {
    width: 25em;

    @media #{$small} {
        width: 100%;
    }

    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.price-size-component {
    background-color: lightgray;
    margin: 0.5em 0;
}

.dish {
    padding: 0.25em;
    font-size: 1em;

    @media #{$phone} {
        font-size: 3em;
    }

    .kebab-button {
        font-size: 1em;
        width: 100%;
    }
}

.card {
    padding: 1em;
    margin-bottom: 1em;

    @media #{$phone} {
        font-size: 2.5em;
    }

    .title {
        margin-top: 0;
        text-align: center;
    }

    &:not(:last-of-type) {
        border-bottom: 0.1em solid gray;
        color: green;
    }
}

.list-element:not(:last-of-type) {
    border-bottom: 0.1em solid gray;
}

.list-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 1em;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 0.25s;
    outline: none;

    @media #{$phone} {
        font-size: 2em;
    }
    
    &:focus, &:hover {
        transition: color 0.25s, border-bottom-color sienna;
        outline: none;
        color: sienna;

        p {
            transition: color 0.25s;
            color: sienna;
        }
    }

    p {
        color: black;
        transition: color 0.25s;
        font-style: italic;
        margin: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@keyframes fade {
    from {
        background-color: $enumElementColor;
    }
    to {
        background-color: $enumElementSelectedBackgroundColor;
    }
}

.container {
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enum-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2em;
    background-color: lightgray;
    border: lightgray 2px solid;
}

.price-sizes {
    @extend .enum-list;
    margin-bottom: 1em;
}

.enum-div {
    flex-grow: 1;
    cursor: pointer;
}

.enum-element {
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-weight: bold;
    color: dimgray;
    transition: background-color 0.2s, color 0.2s;
}

input[type="radio"]:focus + label.enum-element, label.enum-element:focus {
    outline: solid 2px blue;
}

.enum-element-selected {
    background-color: white;
    color: black;
    transition: background-color 0.2s, color 0.2s;
}

.hidden-input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.kebab-button {
    background-color: $enumElementSelectedBackgroundColor;
    border: 2px solid $enumElementSelectedBorderColor;
    padding: 1em;

    @media #{$phone} {
        font-size: 2.5em;
    }

    &:focus {
        outline-width: 1em;
        outline-color: black;
        background-color: $button-focus-background;
    }
}

.inline-label {
    margin: 0.5em 0;
}

.price-size-element {
    margin: 0.25em 0 0.5em 0;
    position: relative;
    font-size: 1.5em;
    
    input[type="checkbox"] {
        margin: 0;
        @media #{$phone} {
            position: relative;
            top: 0.6em;
            height: 4em;
            width: 4em;
        }
    }

    .price-size-label {
        margin-left: 0.5em;
        margin-right: 1em;
        display: inline-block;
        font-weight: bold;
        font-size: 1em;
    }

    .price-price-label {
        display: inline-block;
        font-weight: bold;
        margin-right: 0.25em;
        font-size: 1em;
    }

    input[type="number"] {
        font-size: 1em;
        width: 2em;
        text-align: center;
        border: none;
        border-bottom: 2px solid gray;
    }

    .currency {
        font-size: 1em;
        font-weight: bold;
    }

}

.login-header-container {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.user-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.5em 0.25em;
    background-color: $header-background;
    z-index: $z-topmost;
    position: relative;
    box-sizing: border-box;

    h1 {
        @media #{$phone} {
            font-size: 5em;
        }
    }

    &-username {
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        font-style: italic;
        color: dimgray;
    }
}

.kebab-button-disabled {
    color: gray;
    background-color: lightgray;
}

.login-background {
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.5;
}

.login-component {
    position: absolute;
    width: 100%;
    z-index: $z-ntopmost;
    background-color: $header-background;
    box-shadow: 0 1.5em 1em -1em $shadow-color;
    padding: 0.25em;
    box-sizing: border-box;

    h2 {
        margin-top: 0;
    }

    .login-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .kebab-button {
            margin-right: 0.5em;
        }
    }
}

.error-message {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.kebab-label {
    margin: 0.5em 0 0 0;
    font-weight: bold;
    font-size: 1.5em;

    .kebab-input {
        margin-top: 0.5em;
        font-size: 1em;
        display: block;
    }
}

.sub-header {
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.25em 0;
}

.sub-sub-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.back-button {
    position: absolute;
    z-index: $z-ntopmost;
}

.kebab-button-large {
    @extend .kebab-button;

    padding: 1em;
}

.enum-title {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.enum-list-container {
    margin-bottom: 1em;
    font-size: 1em;
}

.nav-button-container {
    width: 3em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-icon {
    background-color: darkviolet;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    outline: none;
    border: none;
    align-self: flex-end;
}

.lui-list {
    position: absolute;
    z-index: $z-ntopmost;
    padding: 0;
    margin: 0;
    background-color: $header-background;
    box-shadow: 0 1.5em 1em -1em $shadow-color;
    width: 100%;
    text-align: center;
    font-size: 1.25em;

    @media #{$phone} {
        font-size: 3em;
    }
    
    li {
        display: block;
        padding: 0.5em;
        font-weight: bold;
        margin: 0 1em;
        &:not(:last-of-type) {
            border-bottom: solid 0.1em gray;
        }
    }

    .username {
        font-weight: bold;
        // font-size: 1.5em;
        text-transform: uppercase;
        font-style: italic;
        color: dimgray;
    }
}

.hide-stuff {
    height: 100%;
    width: 100%;
    background-color: black;
}

.blur-background {
    pointer-events: none;
    filter: blur($blur-radius);
    -webkit-filter: blur($blur-radius);
    -moz-filter: blur($blur-radius);
    -o-filter: blur($blur-radius);
    -ms-filter: blur($blur-radius);
}

.rating-label {
    margin-bottom: 1em;
    font-weight: bold;
    display: flex;
    font-size: 1.17em;

    .rating-container {
        margin-left: 1em;
        flex-grow: 1;
        display: flex;

        .rating-slider {
            -webkit-appearance: none;
            flex-grow: 1;
            margin-right: 1em;

            opacity: 0.5;
            transition: opacity 0.1s;

            &:hover, &:focus {
                opacity: 1;
                transition: opacity 0.1s;
            }

            @mixin slider-thumb() {
                width: 1.5em;
                height: 1.5em;
                background: $button-focus-background;
                cursor: pointer;
            }

            @mixin slider-thumb-phone() {
                width: 4em;
                height: 4em;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                margin-top: -0.5em;
                @include slider-thumb();
                @media #{$phone} {
                    @include slider-thumb-phone();
                    margin-top: -1.75em;
                }
            }

            &::-moz-range-thumb {
                @include slider-thumb();
                @media #{$phone} {
                    @include slider-thumb-phone();
                }
            }

            &::-ms-thumb {
                @include slider-thumb();
                @media #{$phone} {
                    @include slider-thumb-phone();
                }
            }

            @mixin track() {
                width: 100%;
                height: 0.5em;
                background-color: $rangeBackgroundFocus;
                border-radius: 0.5em;
            }

            &::-webkit-slider-runnable-track {
                @include track();
            }

            &::-moz-range-track {
                @include track();
            }

            &::-ms-track {
                @include track();
            }
        }
    }
}