$mainTextColor: green;
$basePadding: 0.25em;
$mainBackgroundColor: lightyellow;
$listElementBackgroundColor: goldenrod;
$enumElementColor: lightyellow;
$enumElementBorderColor: burlywood;
$enumElementSelectedBorderColor: black;
$enumElementSelectedBackgroundColor: burlywood;

$z-topmost: 20;
$z-ntopmost: 15;

$header-background: lightcyan;
$shadow-color: gray;

$button-focus-background: chocolate;

body {
    background-color: $mainBackgroundColor;
}

p {
    color: green;
}

label {
    display: block;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
    text-align: center;
}

.app {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.price-size-component {
    background-color: lightgray;
    margin: 0.5em 0;
}

.dish {
    background-color: lightblue;
    padding: 0.25em;
}

.card {
    background-color: lightgreen;
    padding: 0.25em;
    margin: 0.25em;
}

.list-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 1em;
    background-color: $listElementBackgroundColor;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.25s;
    
    &:focus {
        background-color: $enumElementSelectedBackgroundColor;
        transition: background-color 0.25s;
        outline: none;
    }

    p {
        color: black;
        font-style: italic;
        margin: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@keyframes fade {
    from {
        background-color: $enumElementColor;
    }
    to {
        background-color: $enumElementSelectedBackgroundColor;
    }
}

.container {
    margin-top: 0.25em;
}

.enum-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2em;
}

.enum-div {
    flex-grow: 1;
    margin: 0 0.25em;
    cursor: pointer;
}

.enum-element {
    border: 2px solid $enumElementBorderColor;
    background-color: $enumElementColor;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input[type="radio"]:focus + label.enum-element, label.enum-element:focus {
    border: 2px green dotted;
    color: yellow;
}

.enum-element-selected {
    border: 2px solid $enumElementSelectedBorderColor;
    background-color: $enumElementSelectedBackgroundColor;
}

.hidden-input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.kebab-button {
    background-color: $enumElementSelectedBackgroundColor;
    border: 2px solid $enumElementSelectedBorderColor;

    &:focus {
        outline-width: 1em;
        outline-color: black;
        background-color: $button-focus-background;
    }
}

.inline-label {
    margin: 0.5em 0;
}

.price-size-element {
    padding: 0.5em 0;
    margin: 0.25em 0;
    background-color: $listElementBackgroundColor;
    
    input[type="checkbox"] {
        margin-right: 0.5em;
    }

    label {
        display: inline-block;
        margin-left: 0.5em;
        margin-right: 0.25em;
        font-weight: bold;
    }

    input {
        width: 3.5em;
    }

    .currency {
        font-weight: bold;
    }

}

.login-header-container {
    width: 100%;
}

.user-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    margin: 0;
    padding: 0.5em 0.25em;
    background-color: $header-background;
    z-index: $z-topmost;
    position: relative;
    box-sizing: border-box;

    &-username {
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        font-style: italic;
        color: dimgray;
    }
}

.kebab-button-disabled {
    color: gray;
    background-color: lightgray;
}

.login-background {
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.5;
}

.login-component {
    position: absolute;
    width: 100%;
    z-index: $z-ntopmost;
    background-color: $header-background;
    box-shadow: 0 1.5em 1em -1em $shadow-color;
    padding: 0.25em;
    box-sizing: border-box;

    h2 {
        margin-top: 0;
    }

    .login-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .kebab-button {
            margin-right: 0.5em;
        }
    }
}

.error-message {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.kebab-label {
    margin: 0.5em 0;
    font-weight: bold;

    .kebab-input {
        margin-left: 0.25em;
    }
}

.sub-header {
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.25em 0;
}

.sub-sub-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.back-button {
    position: absolute;
    z-index: $z-ntopmost;
}