$mainTextColor: green;

p {
    color: green;
}

label {
    display: block;
}

.price-size-component {
    background-color: lightgray;
    margin: 0.5em 0;
}

.dish {
    background-color: lightblue;
    padding: 0.25em;
}

.card {
    background-color: lightgreen;
    padding: 0.25em;
    margin: 0.25em;
}