$mainTextColor: green;
$basePadding: 0.25em;
$mainBackgroundColor: lightyellow;
$listElementBackgroundColor: goldenrod;
$enumElementColor: lightyellow;
$enumElementBorderColor: burlywood;
$enumElementSelectedBorderColor: black;
$enumElementSelectedBackgroundColor: burlywood;

body {
    background-color: $mainBackgroundColor;
}

p {
    color: green;
}

label {
    display: block;
}

.price-size-component {
    background-color: lightgray;
    margin: 0.5em 0;
}

.dish {
    background-color: lightblue;
    padding: 0.25em;
}

.card {
    background-color: lightgreen;
    padding: 0.25em;
    margin: 0.25em;
}

.list-element {
    margin-bottom: 0.25em;
    padding: 0 $basePadding;
    background-color: $listElementBackgroundColor;
    cursor: pointer;
    
    p {
        color: black;
        font-style: italic;
    }
}

.container {
    padding: 0.25em;
    margin: 0.25em;
}

.enum-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2em;
}

.enum-div {
    flex-grow: 1;
    margin: 0 0.25em;
    cursor: pointer;
}

.enum-element {
    border: 2px solid $enumElementBorderColor;
    background-color: $enumElementColor;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input[type="radio"]:focus + label.enum-element, label.enum-element:focus {
    border: 2px green dotted;
    color: yellow;
}

.enum-element-selected {
    border: 2px solid $enumElementSelectedBorderColor;
    background-color: $enumElementSelectedBackgroundColor;
}

.hidden-input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.kebab-button {
    background-color: $enumElementSelectedBackgroundColor;
    border: 2px solid $enumElementSelectedBorderColor;
}

.inline-label {
    margin: 0.5em 0;
}

.price-size-element {
    padding: 0.5em 0;
    margin: 0.25em 0;
    background-color: $listElementBackgroundColor;
    
    input[type="checkbox"] {
        margin-right: 0.5em;
    }

    label {
        display: inline-block;
        margin-left: 0.5em;
        margin-right: 0.25em;
        font-weight: bold;
    }

    input {
        width: 3.5em;
    }

    .currency {
        font-weight: bold;
    }

}

.user-header {
    display: flex;
    justify-content: space-between;
    height: 2em;
    margin: 0.5em;
}

